<div class=" container">
  <div class="row createPost">
    <div class="col-md-5  col-sm-auto  main">
      <h2>
        Create a Post
      </h2>
      
    <div class="input-group mb-3">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03"
          (change)="uploadImage($event)" accept=".png,.jpg" [(ngModel)]="image">
        <label class="custom-file-label" for="inputGroupFile03">Add your image</label>
      </div>
    </div>
    <div class="progress" [hidden]="!uploadPercent">
      <progress mode="determinate" value="{{ uploadPercent | async }}"></progress>
      {{ uploadPercent | async }}
    </div>
    <div [hidden]="!image">
      <img [src]="image || '//:0'">
    </div>

      <div>
        <input matInput placeholder="Post title" [(ngModel)]="title" name="title">
      </div>
      <br>
      <div>
        <textarea matInput placeholder="Post content" [(ngModel)]="content" name="content" rows="10"></textarea>
      </div>
      <br>
      <button (click)="createPost()" color="accent" [disabled]="!title || !content ">{{saving}} Save</button>
    </div>
  </div>
</div>