<div class=" container">
  <div class="row ">
    <div class="col-md-6  col-sm-auto createPost main">
      <div class="block">
            <h2>
              Create new Post
            </h2>
      
              <div class="input-group mb-3">
                    <div class="custom-file">
                          <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03"
                            (change)="uploadImage($event)" accept=".png,.jpg" [(ngModel)]="image">
                          <label class="custom-file-label" for="inputGroupFile03">Add your image</label>
                    </div>
              </div>

      
            <div class="progress" [hidden]="!uploadPercent">
              <progress mode="determinate" value="{{ uploadPercent | async }}"></progress>
              {{ uploadPercent | async }}
            </div>
            <div [hidden]="!image">
              <img [src]="image || '//:0'">
            </div>
            
              <input matInput placeholder="Post title" [(ngModel)]="title" name="title">
             <br>
              <textarea matInput placeholder="Post content" [(ngModel)]="content" name="content" rows="10"></textarea>
             <br>
             <div class="button">
               <button (click)="createPost()"  [disabled]="!title || !content "> Create new post</button>
               <button class="back" [routerLink]="['/blog']" routerLinkActive="router-link-active"  >Back to main page</button>
             </div>  
        </div>
      </div>
    </div>
</div>