<div class=" container">
  <div class="row createPost">
    <div class="col-md-5  col-sm-auto  main">
      <h2>
        Create a Post
      </h2>
      <!-- <input class="button" type="file"  (change)="uploadImage($event)"> -->
      <!-- <div [hidden]="!uploadPercent">
        <progress max="100" value="{{ uploadPercent | async }}"></progress>
        <div class="result" *ngIf="uploadURL | async; let uploadSrc">
          <a [href]="uploadSrc">You just uploaded this file!</a>
        </div>
      </div> -->

      <!-- <div [hidden]="!image">
        <img [src]="image || '//:0' ">
      </div> -->
<input type="file" name="file" id="file" (change)="uploadImage($event)">
<div [hidden]="!uploadPercent">
  <progress mode="determinate" value="{{ uploadPercent | async }}"></progress>
</div>
<div [hidden]="!image">
  <img [src]="image || '//:0' ">
</div>

      <div>
        <input matInput placeholder="Post title" [(ngModel)]="title" name="title">
      </div>
      <br>
      <div>
        <textarea matInput placeholder="Post content" [(ngModel)]="content" name="content" rows="10"></textarea>
      </div>
      <br>
      <button (click)="createPost()" color="accent" [disabled]="!title || !content ">{{saving}} Save</button>
    </div>
  </div>
</div>