.navbar-bg {
    background-color: rgba(147, 206, 222, 1);
    color: rgb(233, 240, 247);
}

.nav-link {
    color: rgb(233, 240, 247);
}

.nav-link:hover {
    color: coral
}

.search {
    margin-left: 20px;
}

.logo {
    width: 65px;
}

.block {}