.navbar-bg{
    background-color: rgb(85, 136, 139);
    color: rgb(233, 240, 247);
    
}
.nav-link{
    color: rgb(233, 240, 247);
}
.search{
    margin-left: 20px;
}
.logo{
    width:65px; 
}
.block{
    
}