<div class="container createPost" *ngIf="post">
  <div class="col-md-6" [hidden]="!editing">

    <h1>Edit Post</h1>

      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03"
            (change)="uploadImage($event)" accept=".png,.jpg, .gif" [(ngModel)]="post.image" >
          <label class="custom-file-label" for="inputGroupFile03">Add your image</label>
        </div>
      </div>
      <div class="progress" [hidden]="!uploadPercent">
        <progress mode="determinate" value="{{ uploadPercent | async }}"></progress>
        {{ uploadPercent | async }}
      </div>
      <div [hidden]="!image">
        <img [src]="image || '//:0'">
      </div>

    
    <br>
    <div>
      <input class="input" placeholder="Post title" [(ngModel)]="post.title" name="title">
    </div>
    <br>
    <div>
      <textarea class="input" placeholder="Post content" [(ngModel)]="post.content" name="content" rows="10"></textarea>
    </div>
    <br>
    <button (click)="updatePost()">Save</button>
    <button (click)="editing=false" *ngIf="editing">Cancel</button>
  </div>


  <div class="col-xs-12 col-md-6 main" [hidden]="editing">
    <div class="">
      <img src="{{post.image}}" alt="{{post.title}}">
      <h2>{{post.title}}</h2>
      <p>
        Posted by {{post.author}}
        <br> {{post.published.toDate() | date: 'short'}}
      </p>
      <p>{{post.content}}</p>
    </div>
    <div *ngIf="auth.currentUserId === post.authorId">
      <button  class="" (click)="editing=true">
        edit
      </button>
      <button (click)="delete(post.id)">
        delete
      </button>
    </div>

  </div>

</div>