.postBlock {
    display: block;
    margin-top: 40px;
    border-left: 2px solid #75bdd1;
    border-spacing: 20px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 252, 1) 30%, rgba(235, 252, 255, 1) 68%, rgba(235, 252, 255, 1) 76%, rgba(235, 252, 255, 1) 100%);
    /* background: linear-gradient(to right, rgba(112, 212, 170, 1) 0%, rgba(162, 227, 199, 1) 17%, rgba(167, 229, 203, 1) 19%, rgba(255, 255, 255, 1) 49%); */
}

.title {
    text-align: center;
    margin-bottom: 25px;
}

.image {
    align-items: center;
    text-align: center;
    height: 170px;
}

.author {
    text-align: end;
}

.delete {
    font-size: 27px;
    border-radius: 15px;
    width: 100px;
    background-color: coral;
    color: white;
}

.text {
    font-size: 18px;
}

/* .background {
    background: linear-gradient(to right, rgba(112, 212, 170, 1) 0%, rgba(162, 227, 199, 1) 17%, rgba(167, 229, 203, 1) 19%, rgba(255, 255, 255, 1) 49%);
} */

.main {
    cursor: pointer;
    /* border-left: 2px solid gray; */
}

.block {
    padding-left: 5px;
    padding-bottom: 5px;
}